{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "plugins": ["jasmine"],
  "env": {
    "browser": true
  },
  "globals": {
    "jasmine": true,
    "afterAll": true,
    "afterEach": true,
    "beforeAll": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true,
    "xit", true,
    "xdescribe": true
  }
}
